nav{
  display:flex;
  justify-content: space-around;
  background-color: var(--main-color);
  color: #fff;
  padding: 15px;
}
.profile-icon{
  display:flex;
  align-items: center;
  align-content: flex-start;
}
nav .profile-icon canvas{
  border-radius: 50%;
  aspect-ratio: 1;
  width: 70px !important;
  height: 70px !important;
  cursor: pointer;
}
nav .profile-icon h3{
  margin: 0;
  padding: 5px;
  overflow: hidden;
}
nav .search-bar{
  display:flex;
  align-items: center;
  justify-content: center;
}
nav .search-bar input{
  font-size:18px;
  padding: 5px;
  border: none !important;
  outline: none !important;
  background: none !important;
  color:white !important;
  cursor:pointer;
}
nav .search-bar input::placeholder{
  font-size:18px;
  color: white;
}